/* Start Define The Color */
:root {
    --green-color: #74c69d;
    --transition: 0.3s;
}
/* End Define The Color */

header {
    background-color: var(--green-color);
    height: 80px;
    width: 100%;
    padding: 10px;
}
header img {
    width: 130px;
}
header ul.links li {
    color: white;
}





