/* Start Define The Color */
:root {
    --green-color: #74c69d;
    --transition: 0.3s;
    --white-color: #f4f4f4;
    --border-radius: 5px;
}
/* End Define The Color */




/* Start Section Content */
section.content {
    background-color: var(--green-color);
    width: 100%;
    height: 100vh;
    padding: 30px 1px;
}
section.content .page_info {
    margin-top: 150px;
}
section.content .info {
    width: 40%;
}
section.content .info .welcome {
    color: var(--white-color);
    font-size: 25px;
    letter-spacing: 5px;
}
section.content .info .description {
    color: var(--white-color);
    margin-bottom: 20px !important;
}
section.content .image img {
    width: 500px;
}

@media (max-width: 992px) {
    section.content {
        height: 100%;
    }
    section.content  .page_info {
        height: 100%;
        flex-direction: column;
    }
    section.content .image {
        order: 1;
        margin-bottom: 40px;
    }
    section.content .image img {
        width: 100%;
    }
    section.content .info {
        order: 2;
        width: 100%;
        text-align: left;
    }
    section.content .info .title {
        font-size: 30px;
    }
}
section .image img {
    width: 100%;
}

/* End Section Content */




/* Start Partners */
.partners {
    text-align: center;
}
.partners h2 {
    color: var(--green-color);
    font-size: 15px;
}
.partners .title {
    font-size: 40px;
}
.partners .partners_images {
    margin: 50px 0;
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
} 
.partners .partners_images img {
    width: 120px;
}
.partners p.main_btn {
    margin: 20px auto;
}
@media (max-width: 992px) {
    .partners {
        overflow: hidden;
    }
}
/* End Partners */


/* Start Messages */
section.messages {

}
section.messages .image {
    width: 40%;
    margin-right: 40px;
    margin-bottom: 40px;
}
section.messages .image img {
}
section.messages .info {
    width: 60%;
}

@media (max-width: 992px) {
    section.messages {
        flex-direction: column;
    }
    section.messages .image {
        width: 100%;
        margin-right: 0px;
    }
    section.messages .info {
        width: 100%;
        text-align: left;
    }
}

/* End Messages */



/* Start Settings */
section.settings {

}
section.settings .image {
    width: 40%;
    margin-left: 40px;
    margin-bottom: 40px;
}
section.settings .image img {
}
section.settings .info {
    width: 60%;
}

@media (max-width: 992px) {
    section.settings {
        flex-direction: column;
    }
    section.settings .image {
        width: 100%;
        margin-left: 0px;
        order: 1;
    }
    section.settings .info {
        width: 100%;
        text-align: left;
        order: 2;
    }
}

/* End Settings */


/* Start Tlents */
section.talents {
    text-align: center;
}
section.talents h2 {
    color: var(--green-color);
    font-size: 15px;
}
section.talents .title {
    font-size: 40px;
}
section.talents .person_talents {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
section.talents .person_talents .talent {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: var(--transition);
    padding: 20px 10px;
    border-radius: 5px;
}
section.talents .person_talents .talent img {
    margin-bottom: 30px;
    width: 200px;
}
section.talents button.main_btn {
    margin: 40px auto;
}

@media (max-width: 767px) {
    section.talents .person_talents {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}
@media (max-width: 992px) {
    section.talents .person_talents {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Start Talents */








