/* Start Define Roots */
:root {
    --transition: 0.3s;
    --white-color: white;
    --border-radius: 10px;
    --dark-color: #444;
    /* --main-color: #1172ff; */
    --main-color: #8490ff;
    
}
/* End Define Roots */






/* Start Experience */
.experience {
    margin-top: 80px;
    margin-bottom: 80px;
}
.experience .about_as {
}
.experience .about_as .image {
    width: 60%;
}
.experience .about_as .image img {
    /* width: 300px; */
}
.experience .about_as .info {
    width: 40%;
}
.experience .about_as .info button {
    width: 50%;
}
@media(max-width: 992px) {
    .experience .about_as {
        flex-direction: column;
    }
    .experience .about_as .image {
        width: 100%;
    }
    .experience .about_as .image img {
        width: 100%;
    }
    .experience .about_as .info {
        width: 100%;
    }
}

.experience .about_as .info .description {
    color: grey;
}
.experience .deep_desc p {
    color: grey;
}

.experience .tools_expertness .progresses_tools {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 40px;
    row-gap: 20px;
}
@media (max-width: 767px) {
    .experience .tools_expertness .progresses_tools {
        grid-template-columns: repeat(1, auto);
    }
}
.experience .tools_expertness .progresses_tools .prog .sub-prog {
    background-color: rgb(243, 243, 243);
    padding: 5px;
    border-radius: 50px;
}

.experience .qualifications {
    margin: 70px 0;
}
.experience .qualifications .info {
    margin-bottom: 65px !important;
}


.experience ul.menu_content {
    position: relative;
}
.experience ul.menu_content::before {
    content: "";
    background-color: #eeeeee;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
}
.experience ul.menu_content li {
    display: flex;
    align-items: center;
    position: relative;
}
.experience ul.menu_content li:nth-child(1),  
.experience ul.menu_content li:nth-child(3){
    justify-content: end;
}
.experience ul.menu_content li:nth-child(2), 
.experience ul.menu_content li:nth-child(4) {
    justify-content: start;
}
.experience ul.menu_content li::before {
    content: "";
    background-color: var(--main-color);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 4px solid #dee1ff;
    transform: translate(-127%, -50%);
}
.experience ul.menu_content li div.exper_info {
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 30%;
    border-radius: 5px;
    padding: 30px 20px;
}
.experience ul.menu_content li div.exper_info span {
    color: gray;
}
@media (max-width: 992px) {
    .experience ul.menu_content li {
        justify-content: start !important;
    }
    .experience ul.menu_content li div.exper_info {
        width: 100%;
    }
    .experience ul.menu_content::before {
        left: 0;
    }
    .experience ul.menu_content li::before {
        left: 0;
        transform: translate(-207%, -50%);
    }
}

.experience .feedback .info {
    margin-top: 60px;
    margin-bottom: 60px;
}
.experience .feedback .comments {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
}
.experience .feedback .comments .comment {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.experience .feedback .comments .comment .image {
    /* width: %; */
    margin-right: 20px;
}
.experience .feedback .comments .comment img {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}
.experience .feedback .comments .comment .description small {
    color: grey;
    font-size: 12px !important;
    margin-top: 0 !important;
}
/* End Experience */






