






/* Start Experience */
.experience {
    margin-top: 80px;
    margin-bottom: 80px;
}
.experience .about_as {
}
.experience .about_as .image {
    width: 60%;
}
.experience .about_as .image img {
    /* width: 300px; */
}
.experience .about_as .info {
    width: 40%;
}
.experience .about_as .info button {
    width: 50%;
}
@media(max-width: 992px) {
    .experience .about_as {
        flex-direction: column;
    }
    .experience .about_as .image {
        width: 100%;
    }
    .experience .about_as .image img {
        width: 100%;
    }
    .experience .about_as .info {
        width: 100%;
    }
}

.experience .about_as .info .description {
    color: grey;
}
.experience .deep_desc p {
    color: grey;
}

.experience .tools_expertness .progresses_tools {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 40px;
    row-gap: 20px;
}
@media (max-width: 767px) {
    .experience .tools_expertness .progresses_tools {
        grid-template-columns: repeat(1, auto);
    }
}
.experience .tools_expertness .progresses_tools .prog .sub-prog {
    background-color: rgb(243, 243, 243);
    padding: 5px;
    border-radius: 50px;
}

.experience .qualifications {
    margin: 70px 0;
}
.experience ul.menu_content li {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
}
.experience ul.menu_content::before {
    content: "";
}
.experience ul.menu_content li::before {
    content: "";
    background: red;
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20px;
}
/* End Experience */






