/* this a global Rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}


button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

/* Start Buttons */

.main_btn {
    color: white;
    background-color: #444;
    transition: 0.3s;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_btn:hover {
    background-color: #282828;
    transform: scale(1.1);
}
/* End Buttons */


/* Start Main Classes */
.container {
    margin: 0 60px !important;
}
@media (max-width: 992px) {
    .container {
        margin: 0 20px !important;
    }
}
/* End Main Classes */



